
bin/Debug/Newtonsoft.Json.dll
.vs/NWO_OWMservice/FileContentIndex/read.lock
bin/Debug/NWO_OWMservice.deps.json
bin/Debug/NWO_OWMservice.dll
bin/Debug/NWO_OWMservice.exe
bin/Debug/NWO_OWMservice.pdb
bin/Debug/NWO_OWMservice.runtimeconfig.json
